body{
    background-color:ivory;
}
h1{font-family:'Baskerville Old Face'; 
   text-align:center;
}
table { 
    font-family:'Baskerville Old Face';
    text-decoration:underline;
   
}
h1{font-family:'Baskerville Old Face'}
p{font-family:'Baskerville Old Face'}
image {
    width: 150px;
}
image {
    width: 20%;
    height: 20px;
    
}
    
